/* =======================================
 * FEUILLE DE STYLES DES GABARITS HTML/CSS
 * © Florens Verschelde pour Elephorm & Alsacreations.com
 * Licence: https://creativecommons.org/licenses/by/2.0/fr/
 * ======================================= */

/*
	Note: vous pouvez modifier simplement les couleurs de ce gabarit en
	modifiant uniquement les couleurs de fond (propriétés background-color)
	et les couleurs du texte (propriété color).
 */

/* Général */

html {
	color: #f0e39e;
	background-color: #2c2f22;
}

/* On utilise l'élément body comme conteneur principal de la page, et on limite
sa largeur maximale. Ce style n'est nécessaire que sur des écrans suffisament
larges. Sur des écrans plus étroits, les blocs de contenus peuvent prendre
toute la largeur et toucher les bords de l'écran. */
@media (width >= 500px) {
	body {
		/* Ici on souhaite une largeur maximale de 760px pour les blocs de contenu
		de la page, mais le body a aussi un padding de 20px à gauche et à droite,
		donc on a besoin d'une largeur maximale text-decoration:
		760 + 20 + 20 = 800px. */
		max-width: 800px;
		/* Réserve un espace entre les bords de la fenêtre et le contenu. */
		padding: 20px;
	}

	/* On aligne le conteneur horizontalement avec les marges automatiques.
	En utilisant la valeur 'auto' d'un seul côté (pour 'margin-left' ou
	'margin-right' uniquement), cette valeur va prendre 100% de la largeur
	restante dans la page (une fois le 'max-width' appliqué).

	1. 'margin-left: auto': 100% de l'espace restant appliqué comme marge
		à gauche, ce qui aligne tout le contenu à droite;
	2. 'margin-right: auto': 100% de l'espace restant appliqué comme marge
		à droite, ce qui aligne tout le contenu à gauche;
	3. 'margin-left: auto; margin-right: auto': l'espace restant est partagé
		entre les marges de gauche et de droite, ce qui centre le contenu.
	*/
	body.alignement-gauche {
		margin-left: 0;
		margin-right: auto;
	}
	body.alignement-droite {
		margin-left: auto;
		margin-right: 0;
	}
}

a {
	color: #ff6533;
}

a:hover,
a:focus {
	color: #ff4c00;
}

strong {
	color: #a1b55d;
}

/* En-tête */

#entete {
	/* Pour la mise en page de cet en-tête avec "flexbox",
	voir les explications dans modele01.css */
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}

@media (width >= 500px) {
	#entete {
		flex-direction: row;
		align-items: center;
		padding-inline: 0;
	}
}

#entete img {
	display: block;
	flex-shrink: 0;
}

#entete h1 {
	margin: 0;
	font-size: 2rem;
	line-height: 1.2;

	@media (width >= 500px) {
		font-size: 2.4rem;
	}
}

#entete p {
	margin: 4px 0;
}

/* Navigation */

#navigation {
	background-color: #181a12;
}

#navigation ul {
	/* Pour la mise en page de ce menu avec "flexbox",
	voir les explications dans modele01.css */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 12px 10px;
	gap: 4px;
	list-style: none;
}

#navigation li.marge-droite {
	/* Les enfants d'un conteneur en 'display: flex' peuvent utiliser les marges
	automatiques pour créer des espaces dynamiques entre eux. Ici, si on utilise
	la classe "marge-droite" sur un seul <li>, tous les <li> qui suivront seront
	poussés vers la droite. Cela permet de séparer la liste de liens en deux
	groupes. */
	margin-right: auto;
}

#navigation a {
	display: block;
	padding: 6px 10px;
	border-radius: 4px;
	line-height: 1.5;
	text-decoration: none;
	color: #ff6533;
}

#navigation a:hover,
#navigation a:focus {
	background-color: #000000;
}

/* Contenu principal */

#contenu {
	padding: 20px;
	color: #363b29;
	background-color: #cbd888;
}

#contenu > :first-child {
	margin-top: 0;
}

#contenu p,
#contenu li {
	line-height: 1.5;
}

#contenu a {
	color: #332510;
}

#contenu a:hover,
#contenu a:focus {
	color: #6e5122;
}

#contenu strong {
	color: #181a12;
}

/* Pied de page */

#pied {
	padding: 15px 20px;
	font-size: 0.85em;
	color: #e6a948;
	background-color: #181a12;
}

#pied p {
	margin: 0.5em 0;
}
