/* =======================================
 * FEUILLE DE STYLES DES GABARITS HTML/CSS
 * © Florens Verschelde pour Elephorm & Alsacreations.com
 * Licence: https://creativecommons.org/licenses/by/2.0/fr/
 * ======================================= */

/* Page */

body {
	/* Variable utilisée pour la mise en page: */
	--largeur-contenu-centre: 860px;
}

.centre {
	/* On limite la largeur des conteneurs qui portent la classe "centre",
	et on utilise des marges automatiques à gauche et à droite pour centrer
	le tout horizontalement. À noter: on utiliser 'max-width' et pas 'width',
	pour que ces conteneurs puissent prendre une largeur plus réduite sur
	de petits écrans (tablettes ou smartphones par exemples). */
	max-width: var(--largeur-contenu-centre);
	margin-inline: auto;
}

/* En-tête */

#entete {
	padding: 20px;
	/* Les variables CSS de couleur utilisées dans cette mise en page sont
	définies dans base.css */
	background-color: var(--fond-sombre);
}

#entete > .centre {
	/* Pour le contenu de l'en-tête, on souhaite placer l'image à gauche et le
	texte dans une deuxième colonne. On peut utiliser le mode de rendu CSS
	"flexbox", avec 'display: flex'. Celui-ci fonctionne en deux directions:
	soit en colonne ('column', vertical) on en ligne ('row', horizontal).
	Ici,on commence par définir un style en colonne, qui va disposer les éléments
	enfants les uns sous les autres verticalement. Le résultat sera presque le
	même que si on avait utilisé 'display: block', à la nuance près que la
	propriété 'gap' va rajouter des espaces verticaux entre les éléments.
	Mais quid de l'affichage en deux colonnes? Eh bien, on va le définir un peu
	plus loin, dans une condition ciblant les écrans suffisamment larges. */
	display: flex;
	flex-direction: column;
	gap: 20px;

	/* On utilise une règle '@media' (ou "media query") pour appliquer un style
	de manière conditionnelle. Ici le style s'appliquera si la largeur de la
	fenêtre du navigateur est égale ou supérieure à 600 pixels. On peut aussi
	écrire cette condition comme: '@media (min-width: 600px)'. */
	@media (width >= 600px) {
		flex-direction: row;
		align-items: center;
	}
}

#entete img {
	display: block;
	flex-shrink: 0;
	background-color: #fff;
	box-shadow: 0 1px 4px #0008;
}

#entete h1 {
	margin: 0;
	font-size: 2rem;
	line-height: 1.2;

	/* Depuis 2023, il est aussi possible d'imbriquer des règles '@media' ou
	des sélécteurs CSS à l'intérieur du bloc de déclarations d'un sélecteur
	parent. Ici, cela nous permet d'éviter de répéter le sélecteur '#entete h1'
	à l'intérieur de la règle '@media (width >= 600px)'.

	Attention cependant, les versions de navigateurs plus anciennes que 2023
	vont ignorer le code suivant! Cela peut être un problème, sur un ancien
	navigateur qui n'a pas été mis à jour (par exemple sur vieux smartphone ou
	une tablette qui ne bénéficie plus de mises à jour système).
	Vous pouvez vérifier depuis quand une fonctionalité CSS en faisant une
	recherche sur https://caniuse.com/
	*/
	@media (width >= 600px) {
		font-size: 2.4rem;
	}
}

#entete p {
	margin: 4px 0;
}

/* Menu de navigation */

#navigation {
	padding: 12px;
	background-color: var(--fond-plus-sombre);
}

#navigation ul {
	/* Pour la liste de liens du menu, on va aussi utiliser "flexbox",
	mais cette fois directement en mode horizontal. Sur les petits écrans,
	les liens du menu ne tiendront peut-être pas dans la largeur. Dans ce cas,
	grâce à la déclaration 'flex-wrap: wrap', ils pourront passer à la ligne,
	au lieu de dépasser de leur conteneur. */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 4px;
	/* Cet élément porte déjà la classe "centre" qui définit une largeur
	maximum de 'var(--largeur-contenu-centre)'. Cela donne un résultat correct,
	mais on peut améliorer le résult visuel légèrement. En effet, cette liste
	contient des liens qui ont un padding horizontal de 10px. Si on souhaite
	que le texte du premier lien soit aligné verticalement avec l'image de
	l'en-tête et avec le texte du contenu principal, on peut augmenter légèrement
	la largeur maximale de la liste de liens, en rajoutant la largeur du padding
	des liens. C'est aussi l'occasion de montrer la fonction CSS 'calc'! */
	max-width: calc(var(--largeur-contenu-centre) + 20px);
	margin-block: 0;
	margin-inline: auto;
	list-style: none;
}

#navigation a {
	display: block;
	padding: 6px 10px;
	border-radius: 4px;
	line-height: 1.5;
	text-decoration: none;
	color: var(--texte-clair-lien);
}

#navigation a:hover,
#navigation a:focus {
	background-color: #000;
}

/* Contenu principal */

#contenu {
	padding: 20px;
	color: var(--texte-sombre);
	background-color: var(--fond-clair);
}

#contenu > .centre > :first-child {
	margin-top: 0;
}

#contenu p,
#contenu li {
	line-height: 1.5;
}

/* Pied de page */

#pied {
	padding: 20px;
	font-size: 0.75rem;
	line-height: 1.5;
	color: var(--texte-clair-secondaire);
}

#pied .centre > * {
	margin-block: 0;
}

#pied .centre > * + * {
	margin-top: 0.5em;
}
