/* =======================================
 * FEUILLE DE STYLES DES GABARITS HTML/CSS
 * © Florens Verschelde pour Elephorm & Alsacreations.com
 * Licence: https://creativecommons.org/licenses/by/2.0/fr/
 * ======================================= */

/* Page */

@media (width >= 600px) {
	/*
	On utilise l'élément body comme conteneur principal de la page, et on limite
	sa largeur maximale. Ce style n'est nécessaire que sur des écrans suffisament
	larges. Sur des écrans plus étroits, les blocs de contenus peuvent prendre
	toute la largeur et toucher les bords de l'écran.
	*/
	body {
		/* Ici on souhaite une largeur maximale de 760px pour les blocs de contenu
		de la page, mais le body a aussi un padding de 40px à gauche et à droite,
		donc on a besoin d'une largeur maximale text-decoration:
		760 + 40 + 40 = 840px. */
		max-width: 840px;
		/* Réserve un espace entre les bords de la fenêtre et le contenu. */
		padding-block: 20px 40px;
		padding-inline: 40px;
	}

	/* On aligne le conteneur horizontalement avec les marges automatiques.
	En utilisant la valeur 'auto' d'un seul côté (pour 'margin-left' ou
	'margin-right' uniquement), cette valeur va prendre 100% de la largeur
	restante dans la page (une fois le 'max-width' appliqué).

	1. 'margin-left: auto': 100% de l'espace restant appliqué comme marge
		à gauche, ce qui aligne tout le contenu à droite;
	2. 'margin-right: auto': 100% de l'espace restant appliqué comme marge
		à droite, ce qui aligne tout le contenu à gauche;
	3. 'margin-left: auto; margin-right: auto': l'espace restant est partagé
		entre les marges de gauche et de droite, ce qui centre le contenu.
	*/
	body.alignement-gauche {
		margin-left: 0;
		margin-right: auto;
	}
	body.alignement-droite {
		margin-left: auto;
		margin-right: 0;
	}
}

/* En-tête */

#entete {
	/* Pour la mise en page de cet en-tête avec "flexbox",
	voir les explications dans modele01.css */
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;

	@media (width >= 600px) {
		flex-direction: row;
		align-items: center;
		padding-inline: 0;
	}
}

#entete img {
	display: block;
	flex-shrink: 0;
	background-color: #fff;
	box-shadow: 0 1px 4px #0008;
}

#entete h1 {
	margin: 0;
	font-size: 2rem;
	line-height: 1.2;

	@media (width >= 600px) {
		font-size: 2.4rem;
	}
}

#entete p {
	margin: 4px 0;
}

/* Navigation */

#navigation {
	/* Les variables CSS de couleur utilisées dans cette mise en page sont
	définies dans base.css */
	background-color: var(--fond-plus-sombre);
}

#navigation ul {
	/* Pour la mise en page de ce menu avec "flexbox",
	voir les explications dans modele01.css */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 12px 10px;
	gap: 4px;
	list-style: none;
}

#navigation li.marge-droite {
	/* Les enfants d'un conteneur en 'display: flex' peuvent utiliser les marges
	automatiques pour créer des espaces dynamiques entre eux. Ici, si on utilise
	la classe "marge-droite" sur un seul <li>, tous les <li> qui suivront seront
	poussés vers la droite. Cela permet de séparer la liste de liens en deux
	groupes. */
	margin-right: auto;
}

#navigation a {
	display: block;
	padding: 6px 10px;
	border-radius: 4px;
	line-height: 1.5;
	text-decoration: none;
	color: var(--texte-clair-lien);
}

#navigation a:hover,
#navigation a:focus {
	background-color: #000;
}

/* Contenu principal */

#contenu {
	padding: 20px;
	color: var(--texte-sombre);
	background-color: var(--fond-clair);
}

#contenu > :first-child {
	margin-top: 0;
}

#contenu p,
#contenu li {
	line-height: 1.5;
}

/* Pied de page */

#pied {
	padding: 20px;
	font-size: 0.75rem;
	line-height: 1.5;
	color: var(--texte-clair-secondaire);
	background-color: var(--fond-plus-sombre);
}

#pied > * {
	margin-block: 0;
}

#pied > * + * {
	margin-top: 0.5em;
}
